# ==========================================================
# Discord
# ==========================================================

DISCORD_TOKEN=
DISCORD_TOKEN_TEST=

# ==========================================================
# Guild
# ==========================================================

GUILD_ID=
GUILD_ID_TEST=

# ==========================================================
# Channels
# ==========================================================

LOG_CHANNEL_ID=
PRESENTATION_CHANNEL_ID=
PRESENTATION_CHANNEL_ID_TEST=
PUBLIC_DECK_CHANNEL_ID=
TOURNAMENT_CHANNEL_ID=

# ==========================================================
# Roles
# ==========================================================

INITIAL_ROLE=
FINAL_ROLE=

# ==========================================================
# Features
# ==========================================================

TEST_MODE=False
VERSION=

# ==========================================================
# External APIs
# ==========================================================

SCRYFALL_API=https://api.scryfall.com
